@media (max-width: 600px) {
	.lane-container {
		grid-template-columns: 1fr;
	}
	.canvas-lane,
	.controls-lane {
		width: 100%;
	}
	.buttons {
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: center;
	}
	.buttons button,
	.image-selector img {
		margin: 10px;
	}
	.image-selector img {
		width: 80px;
	}
}

@media (max-width: 920px) {
	.lane-container {
		grid-template-columns: 1fr;
	}
	.canvas-lane,
	.controls-lane {
		width: 100%;
	}
	.buttons {
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: center;
	}
	.image-selector {
		grid-auto-flow: row;
		grid-template-columns: repeat(auto-fill, minmax(60px, 1fr));
	}
	.image-selector img {
		width: 100%;
	}
}

@media (min-width: 980px) {
	.lane-container {
		grid-template-columns: 5fr 2fr;
	}
	.canvas-lane {
		width: 80%;
	}
	.controls-lane {
		width: 20%;
	}
}
