@media (max-width: 600px) {
	.lane-container {
		grid-template-columns: 1fr;
		padding: 0px;
	}
	.canvas-lane,
	.controls-lane {
		width: 100%;
	}

	.controls-lane {
		align-items: center;
	}

	.image-selector {
		padding: 10px;
	}

	.buttons {
		padding: 0px;
		border-radius: 0px;
	}

	.buttons button,
	.image-selector img {
		margin: 10px;
	}

	.image-selector img {
		width: 80px;
	}

	.fa-facebook {
		margin-block-start: 0;
	}
}
@media (max-width: 919px) {
	.controls-lane {
		align-items: center;
	}
}

@media (max-width: 920px) {
	.lane-container {
		grid-template-columns: 1fr;
	}

	.canvas-lane,
	.controls-lane {
		width: 100%;
	}

	.buttons {
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: center;
	}

	.image-selector {
		grid-auto-flow: row;
		grid-template-columns: repeat(auto-fill, minmax(60px, 1fr));
	}

	.image-selector img {
		width: 100%;
	}
}

@media (min-width: 940px) {
	.container {
		grid-template-columns: minmax(20px, 1fr) minmax(auto, 980px) minmax(
				20px,
				1fr
			);
	}
	.container > *:not(.full) {
		grid-column: 2;
	}
	.container > *.full {
		grid-column: 1/-1;
	}

	.lane-container {
		grid-template-columns: 5fr 2fr;
	}

	.canvas-lane {
		width: auto;
		min-width: 0;
	}

	.controls-lane {
		width: 20%;
	}

	.main-header {
		grid-column: 1/-1;
	}

	.image-selector img:hover {
		padding: 0.865em;
	}
}
